.card {
    background-color: ghostwhite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    width:50%;
    height: 20%;
    justify-items: center;
    margin: 0 auto;
  }
  
  .card-img-top {
    width: auto;
    height: 150px;
    object-fit: contain;
    border-radius: 4px;
  }
  
  .card-title {
    font-size: 24px;
    justify-items: center;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .details-label {
    font-weight: bold;
  }
  
  .details-value {
    margin-bottom: 5px;
  }
  
  .details-value.text-danger {
    color: red;
  }
  
  .comment-form {
    margin-top: 30px;
  }
  
  .comment-form .form-group {
    margin-bottom: 10px;
  }
  
  .comment-form .btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .comment-form .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .comments-box {
    margin-top: 30px;
  }
  
  .comments-box h3 {
    color: black;
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  }
  
  .comments-box table {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .comments-box td {
    padding: 10px;
    color: black;
    font-weight: bold;
  }
  
  .comments-box .data-cell {
    white-space: nowrap;
  }
  
  .comments-box .data-cell::before {
    content: "Date: ";
  }
  
  .back-link {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .back-link:hover {
    color: #0056b3;
  }
  